<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                      <th colspan="3" style="text-align: center;">
						<h5><% if @notice %>
						    <%= @notice %>
							<% else %>
							 <%= t('views.session.logout.logout_no_problems') %>
							<% end %>
						</h5>
					  </th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-md-6">
                      <a href="login"><button class="btn btn-large btn-success" type="button"><%= t('views.session.logout.button_message') %></button></a>
					</td>
                    <td class="col-sm-3" style="text-align: center; padding-top:20px;">
                        <span class="glyphicon icon-chevron-right"></span>
                    </td>
                    <td class="col-sm-3" style="text-align: right;" >
                      <img src="/images/logo.svg" alt="rss feed" width="150" />
					</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>