<div class="page-header">
  <h1><%= t('views.payments.show.page_listing_payments_title')%> <small>Subtext for header</small></h1>
</div>
<div class="well well-box">
  <h5>Payment Details</h5>
  <%= render 'form' %>
</div>
<%= link_to 'Back', payments_path %>
